<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

    <title>
        Dashboard
    </title>

    <style>
        .dropdown {
          position: relative;
          display: inline-block;
        }
        
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
        }
        
        .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }
        
        .dropdown-content a:hover {background-color: #ddd;}
        
        .dropdown:hover .dropdown-content {display: block;}
    </style>
</head>
<body>
    <div class="Header">
        <div class="d-flex flex-row">
            <div class="dropdown" style="padding: 30px 30px 0px 30px">
                <button class="btn btn-secondary dropdown-toggle fw-bold" type="button" data-bs-toggle="dropdown" style="font-size: 30px">
                    LED Mode
                </button>
                <ul class="dropdown-menu p-3">
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="led_mode" value="MODE 1" >
                            <label class="form-check-label" for="ledMode1">
                                Mode 1
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="led_mode" value="MODE 2">
                            <label class="form-check-label" for="ledMode2">
                                Mode 2
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="led_mode" value="MODE 3">
                            <label class="form-check-label" for="ledMode3">
                                Mode 3
                            </label>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="dropdown me-auto" style="padding: 30px 30px 0px 30px">
                <button class="btn btn-secondary dropdown-toggle fw-bold" type="button" data-bs-toggle="dropdown" style="font-size: 30px">
                    Buzzer Mode
                </button>
                <ul class="dropdown-menu p-3">
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="buzzer_mode" value="MODE 1">
                            <label class="form-check-label" for="buzzerMode1">
                                Mode 1
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="buzzer_mode" value="MODE 2">
                            <label class="form-check-label" for="buzzerMode2">
                                Mode 2
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="buzzer_mode" value="MODE 3">
                            <label class="form-check-label" for="buzzerMode3">
                                Mode 3
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
           
            <div class="dropdown" style="padding: 10px 30px 10px 0px">
                <img src="{{ user.avatar.url }}" alt="Avatar" class="header_avatar">
                <div class="dropdown-content">
                    <a href="{% url "users:profile" %}">View Account</a>
                    <a href="{% url 'users:logout' %}">Logout</a>
                    <a href="{% url 'home' %}">Home</a>
                </div>
            </div>
        </div>
    </div>

    <div class="clock_block">
        <div class="d-flex flex-column justify-content-center align-items-center pt-5">
            <p class="fw-bold fst-italic" style="font-size: 170px; padding-bottom: 30px" id="real-time-clock">{{ currentTime|date:"H: i: s" }}</p>
            <p class="fw-medium" style="font-size: 20px;">{{ currentTime|date:"l, F d, Y" }}</p>
            <p class="fw-medium" style="font-size: 20px;">Time Zone: {{ device.timezone }} (UTC {{ utc_offset|slice:":3" }})</p>
            <p class="fw-medium" style="font-size: 20px;">Alarm: {{ arlam.time }}</p>

            <div class="d-flex flex-row justify-content-evenly mt-4">
                <button class="btn btn-primary clock_button" type="button" data-bs-toggle="modal" data-bs-target="#setTimeZone" style="margin-right: 30px; font-size: 18px">Time Zone</button>
                <button class="btn btn-primary clock_button" type="button" data-bs-toggle="modal" data-bs-target="#setAlarm" style="margin-left: 30px; font-size: 18px">Alarm</button>
            </div>
        </div>

        <div class="modal fade" id="setTimeZone" tabindex="-1" aria-labelledby="deviceLabel" aria-hidden="true" style="color: black">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deviceLabel">Choose Timezone</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-4">
                                <label for="timezone-offset" class="form-label mb-2" id="form_label">List of timezone:</label>
                                <select name="timezone_offset" id="timezone-offset" class="span5">
                                    <option value="Pacific/Kwajalein">(UTC +12:00) Eniwetok, Kwajalein</option>
                                    <option value="Pacific/Midway">(UTC -11:00) Midway Island, Samoa</option>
                                    <option value="Pacific/Honolulu">(UTC -10:00) Hawaii</option>
                                    <option value="Pacific/Marquesas">(UTC -9:30) Taiohae</option>
                                    <option value="America/Anchorage">(UTC -9:00) Alaska</option>
                                    <option value="America/Los_Angeles">(UTC -8:00) Pacific Time (US &amp; Canada)</option>
                                    <option value="America/Denver">(UTC -7:00) Mountain Time (US &amp; Canada)</option>
                                    <option value="America/Chicago">(UTC -6:00) Central Time (US &amp; Canada), Mexico City</option>
                                    <option value="America/New_York">(UTC -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
                                    <option value="America/Caracas">(UTC -4:30) Caracas</option>
                                    <option value="America/Houston">(UTC -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
                                    <option value="Canada/Newfoundland">(UTC -3:30) Newfoundland</option>
                                    <option value="America/Sao_Paulo">(UTC -3:00) Brazil, Buenos Aires, Georgetown</option>
                                    <option value="Atlantic/Azores">(UTC -2:00) Mid-Atlantic</option>
                                    <option value="Atlantic/Cape_Verde">(UTC -1:00) Azores, Cape Verde Islands</option>
                                    <option value="Europe/London" selected="selected">(UTC) Western Europe Time, London, Lisbon, Casablanca</option>
                                    <option value="Europe/Brussels">(UTC +1:00) Brussels, Copenhagen, Madrid, Paris</option>
                                    <option value="Europe/Kaliningrad">(UTC +2:00) Kaliningrad, South Africa</option>
                                    <option value="Asia/Baghdad">(UTC +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
                                    <option value="Asia/Tehran">(UTC +3:30) Tehran</option>
                                    <option value="Asia/Dubai">(UTC +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
                                    <option value="Asia/Kabul">(UTC +4:30) Kabul</option>
                                    <option value="Asia/Yekaterinburg">(UTC +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
                                    <option value="Asia/Kolkata">(UTC +5:30) Bombay, Calcutta, Madras, New Delhi</option>
                                    <option value="Asia/Kathmandu">(UTC +5:45) Kathmandu, Pokhara</option>
                                    <option value="Asia/Almaty">(UTC +6:00) Almaty, Dhaka, Colombo</option>
                                    <option value="Asia/Yangon">(UTC +6:30) Yangon, Mandalay</option>
                                    <option value="Asia/Ho_Chi_Minh">(UTC +7:00) Bangkok, Hanoi, Jakarta</option>
                                    <option value="Asia/Singapore">(UTC +8:00) Beijing, Perth, Singapore, Hong Kong</option>
                                    <option value="Australia/Eucla">(UTC +8:45) Eucla</option>
                                    <option value="Asia/Tokyo">(UTC +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
                                    <option value="Australia/Adelaide">(UTC +9:30) Adelaide, Darwin</option>
                                    <option value="Australia/Sydney">(UTC +10:00) Eastern Australia, Guam, Vladivostok</option>
                                    <option value="Australia/Lord_Howe">(UTC +10:30) Lord Howe Island</option>
                                    <option value="Asia/Magadan">(UTC +11:00) Magadan, Solomon Islands, New Caledonia</option>
                                    <option value="Pacific/Norfolk">(UTC +11:30) Norfolk Island</option>
                                    <option value="Pacific/Auckland">(UTC +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
                                    <option value="Pacific/Chatham">(UTC +12:45) Chatham Islands</option>
                                    <option value="Pacific/Apia">(UTC +13:00) Apia, Nukualofa</option>
                                    <option value="Pacific/Fakaofo">(UTC +14:00) Line Islands, Tokelau</option>
                                </select>
                            </div>
                            
                            <button type="submit" name="change-timezone" class="w-100 btn btn-dark btn-md mb-4">Set</button>
                        </form>
                    </div>
                
                </div>
            </div>
        </div>

        <div class="modal fade" id="setAlarm" tabindex="-1" aria-labelledby="deviceLabel" aria-hidden="true" style="color: black">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deviceLabel">Set alarm</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-4">
                                <label for="alarmDate" class="form-label mb-2" id="form_label">Date Time:</label>
                                <input type="datetime-local" name="alarm_dateTime" id="alarmDate" class="form-control form-control-xl fs-6" required>
                            </div>

                            <button type="submit" name="set_arlam" class="w-100 btn btn-dark btn-md mb-4">Set</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="statistic_block d-flex flex-column">
        <div class="row mt-5" style="max-width: 100%">
            <div class="col-6 d-flex justify-content-center">
                <div class="card statistic_data border-0" style="background: linear-gradient(90deg, rgba(217, 217, 217, 0.7) 5.1%, rgba(216, 31, 31, 0.6) 58.1%)">
                    <div class="card-body text-center fw-bold" style="font-size: 30px">
                        <p>24°C</p>
                        <p>Tempature</p>
                    </div>
                </div>
            </div>
                

            <div class="col-6 d-flex justify-content-center">
                <div class="card statistic_data border-0" style="background: linear-gradient(90deg, rgba(217, 217, 217, 0.7) 3.6%, rgba(31, 98, 216, 0.6) 58.1%)">
                    <div class="card-body text-center fw-bold" style="font-size: 30px">
                        <p>70%</p>
                        <p>Humidity</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row m-5">
            <div class="col-6">
                <canvas id="temp_chart"></canvas>
            </div>

            <div class="col-6">
                <canvas id="humid_chart"></canvas>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-5">
            <form class="row row-cols-lg-auto g-3 align-items-center mt-3">
                <div class="col-12">
                    <select class="form-select" id="time_format">
                            <option value="1">Day</option>
                            <option value="2">Month</option>
                            <option value="3">Year</option>
                    </select>
                </div>

                <div class="col-12">
                    <div class="input-group">
                        <input type="date" class="form-control" id="time_inp" required>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="events_block d-flex flex-column p-5">
        <p class="text-center fw-bold" style="font-size: 90px">Today events</p>
        <div class="d-flex justify-content-center">
            <div class="card" style="min-width: 70%; border-radius: 50px">
                <div class="card-body p-4" style="font-size: 45px">
                    <ul>
                        {% for today in today_events %}
                            <li>{{today}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="calendar_block">
        <div class="d-flex justify-content-center">
            <p class="text-center fw-medium" id="monthYear" style="font-size:30px; color: #585757; padding-top: 20px"></p>
            <button id="prev" type="button" class="btn btn-outline-light fw-medium" style="background-color: transparent; color: #585757; font-size:30px">
                <
            </button>
            <button id="next" type="button" class="btn btn-outline-light fw-medium" style="background-color: transparent; color: #585757; font-size:30px">
                >
            </button> 
        </div>
        
        <div class="d-flex justify-content-center">
            <div class="card" style="min-width: 10%; min-height: 40px;border-radius: 0;">
                <div class="card-body padding_zero">
                    <p class="margin_zero dayOfWeek">MON</p>
                </div>
            </div>
            <div class="card" style="min-width: 10%; min-height: 40px;border-radius: 0;">
                <div class="card-body padding_zero">
                    <p class="margin_zero dayOfWeek">TUE</p>
                </div>
            </div>
            <div class="card" style="min-width: 10%; min-height: 40px;border-radius: 0;">
                <div class="card-body padding_zero">
                    <p class="margin_zero dayOfWeek">WED</p>
                </div>
            </div>
            <div class="card" style="min-width: 10%; min-height: 40px;border-radius: 0;">
                <div class="card-body padding_zero">
                    <p class="margin_zero dayOfWeek">THU</p>
                </div>
            </div>
            <div class="card" style="min-width: 10%; min-height: 40px;border-radius: 0;">
                <div class="card-body padding_zero">
                    <p class="margin_zero dayOfWeek">FRI</p>
                </div>
            </div>
            <div class="card" style="min-width: 10%; min-height: 40px;border-radius: 0;">
                <div class="card-body padding_zero">
                    <p class="margin_zero dayOfWeek">SAT</p>
                </div>
            </div>
            <div class="card" style="min-width: 10%; min-height: 40px;border-radius: 0;">
                <div class="card-body padding_zero">
                    <p class="margin_zero dayOfWeek">SUN</p>
                </div>
            </div>
        </div>

        <div id="dates"></div>

        <div class="mt-3 d-flex justify-content-center">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Add event
            </button>
        </div>
        <div class="collapse" id="collapseExample">
            <div class="d-flex justify-content-center mt-2">
                <div class="card card-body" style="max-width: 50%">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="date_inp" class="form-label">Date Time:</label>
                            <input type="datetime-local" name="event_dateTime" class="form-control" id="date_inp" required>
                        </div>

                        <div class="mb-3">
                            <label for="event" class="form-label">Event:</label>
                            <input type="text" name="event_content" class="form-control" id="event" required>
                        </div>

                        <p>Tag Color:</p>

                        <div class="mb-1 ps-5 form-check">
                            <input class="form-check-input" type="radio" name="note_color" id="noteBlue" checked value="blue">
                            <label class="form-check-label" for="noteBlue">
                                Tag Blue
                            </label>
                        </div>

                        <div class="mb-1 ps-5 form-check">
                            <input class="form-check-input" type="radio" name="note_color" id="noteGreen" value="green">
                            <label class="form-check-label" for="noteGreen">
                                Tag Green
                            </label>
                        </div>

                        <div class="mb-1 ps-5 form-check">
                            <input class="form-check-input" type="radio" name="note_color" id="noteRed" value="red">
                            <label class="form-check-label" for="noteRed">
                                Tag Red
                            </label>
                        </div>

                        <div class="mb-1 ps-5 form-check">
                            <input class="form-check-input" type="radio" name="note_color" id="noteOrange" value="orange">
                            <label class="form-check-label" for="noteOrange">
                                Tag Orange
                            </label>
                        </div>

                        <div class="mb-4 ps-5 form-check">
                            <input class="form-check-input" type="radio" name="note_color" id="noteBlack" value="black">
                            <label class="form-check-label" for="noteBlack">
                                Tag Black
                            </label>
                        </div>

                        <button type="submit" name="add_event" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        

    </div>
    
    
    <script>
        // Kết nối WebSocket
        const socket = new WebSocket('ws://127.0.0.1:8000/ws/mqtt/front-end');

        let currentLedMode = "{{ device.ledmode }}";
        const currentBuzzerMode = "{{ device.buzzermode }}";

        // Gửi data về server
        function sendData(data) {
            if (socket.readyState == WebSocket.OPEN) {
                socket.send(JSON.stringify(data))
                console.log("Sended data: ", data)
            } else {
                socket.addEventListener('open', function() {
                    socket.send(JSON.stringify(data))
                    console.log("Connection open - sended data: ", data)
                }, {once: true})
            }
        }

        // Khi kết nối thành công
        socket.onopen = function () {
            console.log("WebSocket connection established.");
        };

        // Khi nhận được tin nhắn từ server
        socket.onmessage = function (event) {
            let data = JSON.parse(event.data);

            if (data.change_ledmode !== undefined) {
                data = data.change_ledmode
                const deviceId = data.device_id;
                if (deviceId == "{{ device.id }}") {
                    if (data.ledMode !== undefined) {
                        currentLedMode = data.ledMode;

                        const radioLedButtons = document.querySelectorAll('input[name="led_mode"]');
                        radioLedButtons.forEach((radio) => {
                            radio.checked = (radio.value == currentLedMode);
                        });
                    }
                }
            }
        };

        // Khi WebSocket đóng
        socket.onclose = function () {
            console.log("WebSocket connection closed.");
        };
        
        // Chỉnh Led và BuzzerBuzzer mode
        document.addEventListener("DOMContentLoaded", function () {

            // Hiện led mode
            const radioLedButtons = document.querySelectorAll('input[name="led_mode"]');
            radioLedButtons.forEach((radio) => {
                radio.checked = (radio.value == currentLedMode);
            });

            // Hiện buzzer mode
            const radioBuzzerButtons = document.querySelectorAll('input[name="buzzer_mode"]');
            radioBuzzerButtons.forEach((radio) => {
                radio.checked = (radio.value == currentBuzzerMode);
            });

            // Nhận led mode mới
            radioLedButtons.forEach((radio) => {
                radio.addEventListener("change", function() {
                    if (this.checked) {
                        console.log("Selected LED mode: ", this.value)

                        sendData({device_id: "{{ device.id }}", command: "change_led_mode", newMode: this.value})
                    }
                })
            })

            // Nhận buzzer mode mới
            radioBuzzerButtons.forEach((radio) => {
                radio.addEventListener("change", function() {
                    if (this.checked) {
                        console.log("Selected Buzzer mode: ", this.value)

                        sendData({device_id: "{{ device.id }}", command: "change_buzzer_mode", newMode: this.value})
                    }
                })
            })
        });

        // Cập nhật thời gian thựcthực
        function updateTime() {
            // Lấy phần tử hiển thị thời gian
            const clockElement = document.getElementById('real-time-clock');

            // Parse thời gian ban đầu từ server
            let currentTime = new Date();
            const initialTimeParts = clockElement.textContent.split(':');
            currentTime.setHours(initialTimeParts[0]);
            currentTime.setMinutes(initialTimeParts[1]);
            currentTime.setSeconds(initialTimeParts[2]);

            // Cập nhật thời gian mỗi giây
            setInterval(() => {
                // Tăng thêm 1 giây
                currentTime.setSeconds(currentTime.getSeconds() + 1);

                // Định dạng lại thời gian thành H: i: s
                const hours = String(currentTime.getHours()).padStart(2, '0');
                const minutes = String(currentTime.getMinutes()).padStart(2, '0');
                const seconds = String(currentTime.getSeconds()).padStart(2, '0');

                // Hiển thị thời gian mới
                clockElement.textContent = `${hours}: ${minutes}: ${seconds}`;
            }, 970);
        }

        //Graph scripts:
        const ctx1 = document.getElementById('temp_chart').getContext('2d');
        const ctx2 = document.getElementById('humid_chart').getContext('2d');
        // Dữ liệu và cấu hình biểu đồ
        const temp_Chart = new Chart(ctx1, {
            type: 'line', 
            data: {
                labels: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5'], // Trục X
                datasets: [{
                    label: 'Tempature',
                    data: [12, 19, 3, 5, 2], // Dữ liệu trục Y
                    borderColor: 'rgb(216, 76, 48)', // Màu đường
                    backgroundColor: 'rgba(75, 192, 192, 0.2)', // Màu nền
                    borderWidth: 2
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true // Bắt đầu từ 0 trên trục Y
                    }
                }
            }
        });

        const humid_Chart2 = new Chart(ctx2, {
            type: 'line', // Loại biểu đồ: 'line', 'bar', 'pie', v.v.
            data: {
                labels: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5'], // Trục X
                datasets: [{
                    label: 'Humidity',
                    data: [12, 19, 3, 5, 2], // Dữ liệu trục Y
                    borderColor: 'rgba(75, 192, 192, 1)', // Màu đường
                    backgroundColor: 'rgba(75, 192, 192, 0.2)', // Màu nền
                    borderWidth: 2
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true // Bắt đầu từ 0 trên trục Y
                    }
                }
            }
        });

        //Hiển thị các event lên lịch
        const monthYear = document.getElementById('monthYear');
        const dates = document.getElementById('dates');
        const prev = document.getElementById('prev');
        const next = document.getElementById('next');

        const eventList = {{events|safe}};
        console.log(eventList);

        let currentDate = new Date();
        let content = '';
        const updateCalendar = () => {
            const currentYear = currentDate.getFullYear();
            const currentMonth = currentDate.getMonth();
        
            const firstDay = new Date(currentYear, currentMonth, 1);
            const lastDay = new Date(currentYear, currentMonth + 1, 0);
            const totalDays = lastDay.getDate();
            const firstDayIndex = (firstDay.getDay() + 6) % 7;

            const monthYearStr = currentDate.toLocaleString('default', { month: 'long' }) + ', ' + currentYear;
            monthYear.innerHTML = monthYearStr;
        
            const Deadline_list = {};
            for (let i = 0; i < eventList.length; i++){
                var year = eventList[i + 2];
                var month = eventList[i + 3];
                var day = eventList[i + 4];
                Deadline = new Date(year, month - 1, day);

                if (!(Deadline in Deadline_list)){
                    var array = [];
                    Deadline_list[Deadline] = array;
                }
                Deadline_list[Deadline].push(eventList[i]);
                Deadline_list[Deadline].push(eventList[i + 5]);
                Deadline_list[Deadline].push(eventList[i + 1]);
                i += 5;
            }
            const Deadline_date_list = Object.keys(Deadline_list);
            console.log(Deadline_list);

            let days = `<div class="d-flex justify-content-center">`; // Start a new row
            let counter = 0;
        
            // Previous month's days
            for (let x = firstDayIndex; x > 0; x--) {
                const prevDate = new Date(currentYear, currentMonth, 1 - x);

                let assign_list = []
                for (let i = 0; i < Deadline_date_list.length; ++i){
                    var timeStamp = Date.parse(Deadline_date_list[i]);

                    if (prevDate.getTime() == timeStamp){
                        for (let j = 0; j < Deadline_list[Deadline_date_list[i]].length; ++j){
                            assign_list.push(Deadline_list[Deadline_date_list[i]][j]);
                            assign_list.push(Deadline_list[Deadline_date_list[i]][j + 1]);
                            assign_list.push(Deadline_list[Deadline_date_list[i]][j + 2]);
                            j += 2;
                        }
                    }
                }

                days += `<div class="card date"> 
                            <div class="card-body d-flex flex-column padding_zero">
                                <p class="mb-auto margin_zero dayContent">${prevDate.getDate()}</p>`;

                if (assign_list.length != 0){
                    var color = "";
                    var background = "";
                    for (let i = 0; i < assign_list.length; ++i){
                        if(assign_list[i + 2].localeCompare("blue") == 0){
                            color = "#0085FF;";
                            background = "rgba(0, 133, 255, .1);";
                        }
                        else if (assign_list[i + 2].localeCompare("green") == 0){
                            color = "#00BA34;";
                            background = "rgba(240, 250, 240, 1);";
                        }
                        else if (assign_list[i + 2].localeCompare("red") == 0){
                            color = "#E92C2C;";
                            background = "rgba(255, 242, 242, 1);";
                        }
                        else if (assign_list[i + 2].localeCompare("orange") == 0){
                            color = "#FF9F2D;";
                            background = "rgba(255, 245, 235, 1);";
                        }
                        else if (assign_list[i + 2].localeCompare("black") == 0){
                            color = "#585757;";
                            background = "rgba(240, 255, 240, 1);";
                        }

                        days += `<div class="d-flex">
                                        <a tabindex="0"
                                            class="btn m-1 p-1 truncate" 
                                            role="button" 
                                            data-bs-toggle="popover" 
                                            data-bs-placement="top" 
                                            data-bs-trigger="focus" 
                                            data-bs-title="` + assign_list[i + 1] + `"
                                            data-bs-content="` + assign_list[i] + `"
                                            style="background-color:` + background + `
                                                    border-radius: 4px; width: fit-content;
                                                    color:` + color + `
                                                    font-weight: 500;"> ` + 
                                            assign_list[i] + `
                                        </a>
                                        <form method="POST" class="ms-auto" style="padding: 7% 3% 0 0">
                                            {% csrf_token %}
                                            <button type="submit" value="event_id" name="delete_event" class="btn-close"></button>
                                        </form>
                                 </div>`;
                        i += 2; 
                    }
                }

                days += `   </div>
                         </div>`;

                counter++;
                if (counter % 7 === 0) {
                    days += `</div><div class="d-flex justify-content-center">`; // Close and start a new row
                }
            }
        
            // Current month's days
            for (let i = 1; i <= totalDays; i++) {
                const curDate = new Date(currentYear, currentMonth, i);
                const isToday = 
                    i === new Date().getDate() &&
                    currentMonth === new Date().getMonth() &&
                    currentYear === new Date().getFullYear();

                let assign_list = []
                for (let i = 0; i < Deadline_date_list.length; ++i){
                    var timeStamp = Date.parse(Deadline_date_list[i]);

                    if (curDate.getTime() == timeStamp){
                        for (let j = 0; j < Deadline_list[Deadline_date_list[i]].length; ++j){
                            assign_list.push(Deadline_list[Deadline_date_list[i]][j]);
                            assign_list.push(Deadline_list[Deadline_date_list[i]][j + 1]);
                            assign_list.push(Deadline_list[Deadline_date_list[i]][j + 2]);
                            j += 2;
                        }
                    }
                }

                console.log(assign_list);

                days += `<div class="card date">
                            <div class="card-body d-flex flex-column padding_zero">
                                <p class="mb-auto ${isToday ? 'fw-bold text-primary text-decoration-underline' : ''} margin_zero dayContent">${i}</p>`;

                if (assign_list.length != 0){
                    var color = "";
                    var background = "";
                    for (let i = 0; i < assign_list.length; ++i){
                        if(assign_list[i + 2].localeCompare("blue") == 0){
                            color = "#0085FF;";
                            background = "rgba(0, 133, 255, .1);";
                        }
                        else if (assign_list[i + 2].localeCompare("green") == 0){
                            color = "#00BA34;";
                            background = "rgba(240, 250, 240, 1);";
                        }
                        else if (assign_list[i + 2].localeCompare("red") == 0){
                            color = "#E92C2C;";
                            background = "rgba(255, 242, 242, 1);";
                        }
                        else if (assign_list[i + 2].localeCompare("orange") == 0){
                            color = "#FF9F2D;";
                            background = "rgba(255, 245, 235, 1);";
                        }
                        else if (assign_list[i + 2].localeCompare("black") == 0){
                            color = "#585757;";
                            background = "rgba(240, 255, 240, 1);";
                        }

                        days += `<div class="d-flex">
                                        <a tabindex="0"
                                            class="btn m-1 p-1 truncate" 
                                            role="button" 
                                            data-bs-toggle="popover" 
                                            data-bs-placement="top" 
                                            data-bs-trigger="focus" 
                                            data-bs-title="` + assign_list[i + 1] + `"
                                            data-bs-content="` + assign_list[i] + `"
                                            style="background-color:` + background + `
                                                    border-radius: 4px; width: fit-content;
                                                    color:` + color + `
                                                    font-weight: 500;"> ` + 
                                            assign_list[i] + `
                                        </a>
                                        <form method="POST" class="ms-auto" style="padding: 7% 3% 0 0">
                                            {% csrf_token %}
                                            <button type="submit" value="event_id" name="delete_event" class="btn-close"></button>
                                        </form>
                                    </div>`;
                        i += 2;
                    }
                }

                days += `   </div>
                        </div>`;

                counter++;
                if (counter % 7 === 0) {
                    days += `</div><div class="d-flex justify-content-center">`; // Close and start a new row
                }
            }
        
            // Optional: Add next month's days to fill the last week
            const remainingDays = 7 - (counter % 7);
            if (remainingDays < 7) {
                for (let j = 1; j <= remainingDays; j++) {
                    const nextDate = new Date(currentYear, currentMonth + 1, j);

                    let assign_list = []
                for (let i = 0; i < Deadline_date_list.length; ++i){
                    var timeStamp = Date.parse(Deadline_date_list[i]);

                    if (nextDate.getTime() == timeStamp){
                        for (let j = 0; j < Deadline_list[Deadline_date_list[i]].length; ++j){
                            assign_list.push(Deadline_list[Deadline_date_list[i]][j]);
                            assign_list.push(Deadline_list[Deadline_date_list[i]][j + 1]);
                            assign_list.push(Deadline_list[Deadline_date_list[i]][j + 2]);
                            j += 2;
                        }
                    }
                }

                days += `<div class="card date">
                            <div class="card-body d-flex flex-column padding_zero">
                                <p class="mb-auto margin_zero dayContent">${nextDate.getDate()}</p>`;

                if (assign_list.length != 0){
                    var color = "";
                    var background = "";
                    for (let i = 0; i < assign_list.length; ++i){
                        if(assign_list[i + 2].localeCompare("blue") == 0){
                            color = "#0085FF;";
                            background = "rgba(0, 133, 255, .1);";
                        }
                        else if (assign_list[i + 2].localeCompare("green") == 0){
                            color = "#00BA34;";
                            background = "rgba(240, 250, 240, 1);";
                        }
                        else if (assign_list[i + 2].localeCompare("red") == 0){
                            color = "#E92C2C;";
                            background = "rgba(255, 242, 242, 1);";
                        }
                        else if (assign_list[i + 2].localeCompare("orange") == 0){
                            color = "#FF9F2D;";
                            background = "rgba(255, 245, 235, 1);";
                        }
                        else if (assign_list[i + 2].localeCompare("black") == 0){
                            color = "#585757;";
                            background = "rgba(240, 255, 240, 1);";
                        }

                        days += `<div class="d-flex">
                                        <a tabindex="0"
                                            class="btn m-1 p-1 truncate" 
                                            role="button" 
                                            data-bs-toggle="popover" 
                                            data-bs-placement="top" 
                                            data-bs-trigger="focus" 
                                            data-bs-title="` + assign_list[i + 1] + `"
                                            data-bs-content="` + assign_list[i] + `"
                                            style="background-color:` + background + `
                                                    border-radius: 4px; width: fit-content;
                                                    color:` + color + `
                                                    font-weight: 500;"> ` + 
                                            assign_list[i] + `
                                        </a>
                                        <form method="POST" class="ms-auto" style="padding: 7% 3% 0 0">
                                            {% csrf_token %}
                                            <button type="submit" value="event_id" name="delete_event" class="btn-close"></button>
                                        </form>
                                    </div>`;
                        i += 2;
                    }
                }

                days += `   </div>
                        </div>`;

                    {% comment %} days += `<div class="card date"> 
                                <div class="card-body d-flex flex-column padding_zero">
                                    <p class="mb-auto margin_zero dayContent">${nextDate.getDate()}</p>
                                    <p class="dayContent">Design</p>
                                    <p class="dayContent">Note Taking</p>
                                </div>
                             </div>`; {% endcomment %}
                }
            }
        
            days += `</div>`; // Close the last row
            dates.innerHTML = days;
        };
        
        prev.addEventListener('click', () => {
            currentDate.setMonth(currentDate.getMonth() - 1);
            updateCalendar();
        });

        next.addEventListener('click', () => {
            currentDate.setMonth(currentDate.getMonth() + 1);
            updateCalendar();
        });

        updateTime();
        updateCalendar();
        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));
    </script>
</body>
</html>