body {
    background: linear-gradient(45deg, pink, teal);
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow: hidden;
}

.submitBtn {
    --bs-btn-bg: #4F378A;
    --bs-btn-hover-bg: #4F378A;
    --bs-btn-active-bg: #4F378A;
}
