{% extends "user/layout.html" %}

{% load static %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="rounded-5 p-3 bg-dark shadow box-area" style="width: 450px; height: 400px; --bs-bg-opacity: .8;">
        <form method="POST">
            {% csrf_token %}
            <div class="mb-2">
                <label for="otp_code" class="form-label mb-2" id="form_label">OTP</label>
                <input type="text" name="otp" id="otp_code" class="form-control form-control-xl fs-6" required>
            </div>

            <div class="mb-2">
                <label for="password1" class="form-label mb-2" id="form_label">Password</label>
                <input type="password" name="pass1" id="password1" class="form-control form-control-xl fs-6" required>
            </div>

            <div class="mb-4">
                <label for="password2" class="form-label mb-2" id="form_label">Confirm Password</label>
                <input type="password" name="pass2" id="password2" class="form-control form-control-xl fs-6" required>
            </div>
            
            <button type="submit" class="w-100 btn btn-dark btn-md mb-4">Reset Password</button>
        </form>

        {% if messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {% for message in messages %}
                <strong>Hey! </strong> {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {% endfor %}
            </div>
        {% endif %}

        <div class="d-flex justify-content-center">
            <a href="{% url 'users:login' %}" id="form_label" style="font-size: 15px; text-decoration: underline;">Sign In</a>
        </div>
    </div>
</div>
{% endblock content %}